*{
    margin: 0;
    text-align: center;
}

body{
    /* background-image: url('../images/bg_img.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-color: black;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: large;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

nav ul li {
    display: inline;
    margin-left: 1em;
}

#logo{
    position: absolute;
    left: 45vw;
    font-size: 3em;
}

nav #right_menu, footer #footer_contact{
    display: flex;
    align-items: center;
}

nav #right_menu p, footer #footer_contact p {
    margin-right: 10px;
}

nav img, footer img{
    width: 2em;
    height: auto;
    border-radius: 50%;
}

#carrousel{
    width: 60vw;
    height: 60vh;
    border: 1px solid;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

footer{
    position: absolute;
    bottom: 10px;
}
